<form [formGroup]="contactForm" class="container" (ngSubmit)="onSubmit()" >

    <label class="form-image-upload" for="contactImage">
        <svg width="23px" height="20px" viewBox="0 0 23 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
            <title>Upload Your contact image</title>
            <desc>Upload contact image logo</desc>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Icon-/-upload" fill="#FFFFFF" fill-rule="nonzero">
                    <path
                        d="M11,2.04230818 L6.90380592,6.13850225 L6.19669914,5.43139547 L11.5,0.128094614 L16.8033009,5.43139547 L16.0961941,6.13850225 L12,2.04230818 L12,14 L11,14 L11,2.04230818 Z M21,18.768352 L21,13.1813955 L22,13.1813955 L22,19.768352 L1,19.768352 L1,13.1813955 L2,13.1813955 L2,18.768352 L21,18.768352 Z"
                        id="Combined-Shape"></path>
                </g>
            </g>
        </svg>
    </label>
    <input id="contactImage" type="file" placeholder="image" >

    <a routerLink="/home-page" class="back-button">
        <svg width="16px" height="12px" viewBox="0 0 16 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
            <title>Back to the homepage</title>
            <desc>Back to the homepage button icon</desc>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Icon-/-arrow-back" fill="#BBC4C3" fill-rule="nonzero">
                    <path
                        d="M3.26856464,5.3646241 L5.56826113,7.60940232 L4.4546089,8.69645979 L0,4.3482299 L4.4546089,-1.42108547e-14 L5.56826113,1.08705747 L2.76098635,3.82729268 L16,3.82729268 L16,12 L14.4250579,12 L14.4250579,5.3646241 L3.26856464,5.3646241 Z"
                        id="Combined-Shape"></path>
                </g>
            </g>
        </svg>
    </a>

    <article>

        <label for="fullName">
            <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
                <title>Full name of the contact</title>
                <desc>Contact name icon</desc>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Icon-/-person" fill="#2DA1AD" fill-rule="nonzero">
                        <path
                            d="M7.5,6.5 C5.84314575,6.5 4.5,5.15685425 4.5,3.5 C4.5,1.84314575 5.84314575,0.5 7.5,0.5 C9.15685425,0.5 10.5,1.84314575 10.5,3.5 C10.5,5.15685425 9.15685425,6.5 7.5,6.5 Z M7.5,5.5 C8.6045695,5.5 9.5,4.6045695 9.5,3.5 C9.5,2.3954305 8.6045695,1.5 7.5,1.5 C6.3954305,1.5 5.5,2.3954305 5.5,3.5 C5.5,4.6045695 6.3954305,5.5 7.5,5.5 Z M15,14.75 L14,14.75 C14,11.2982203 11.2017797,8.5 7.75,8.5 C4.29822031,8.5 1.5,11.2982203 1.5,14.75 L0.5,14.75 C0.5,10.7459356 3.74593556,7.5 7.75,7.5 C11.7540644,7.5 15,10.7459356 15,14.75 Z"
                            id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
            full name
        </label>
        <input type="text" id="fullName" placeholder="full name" formControlName="fullName">

        <label for="email">
            <svg width="15px" height="10px" viewBox="0 0 15 10" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
                <title>Email of the contact</title>
                <desc>Contact email icon</desc>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Icon-/-email" fill="#2DA1AD" fill-rule="nonzero">
                        <path
                            d="M14,1.41583275 L7.5,5.59440418 L1,1.41583275 L1,9 L14,9 L14,1.41583275 Z M12.7975935,1 L2.2024065,1 L7.5,4.40559582 L12.7975935,1 Z M0,0 L15,0 L15,10 L0,10 L0,0 Z"
                            id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
            email
        </label>
        <input type="text" id="email" placeholder="email" formControlName="email">

        <label for="phoneNumbers">
            <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
                <title>Phone numbers of the contact</title>
                <desc>Phone number icon</desc>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Icon-/-phone" stroke="#2DA1AD">
                        <path
                            d="M14.0537021,12.8976651 L10.9522757,9.7962387 L9.80088847,10.9476259 L9.45502591,10.6942828 C8.38882097,9.91329136 7.33025388,9.00264405 6.32072624,7.99311641 C5.54507394,7.21746411 4.82731624,6.41240594 4.18123995,5.59604971 L3.90498199,5.24698116 L5.14987699,4.00208616 L2.05470677,0.977867672 L1.06024936,1.94787636 C0.0279655217,3.67140726 1.44028411,7.35531496 4.51760395,10.4326348 C7.62279311,13.537824 11.3456068,14.9477176 12.9738845,13.919755 L14.0537021,12.8976651 Z"
                            id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
            numbers
        </label>

        <div id="phoneNumbers" formArrayName="phoneNumbers"
            *ngFor="let other of contactForm.get('phoneNumbers').controls; let i = index">
            <div [formGroupName]="i">

                <input type="text" placeholder="number" formControlName="number">

                <input type="text" placeholder="label" formControlName="title">

                <button type="button" (click)="deletePhoneNumberInput(i)"
                    *ngIf="contactForm.get('phoneNumbers').controls.length > 1">
                    x
                </button>

            </div>
        </div>

        <button class="add-number-button" type="button" (click)="addPhoneNumberInput()">
            <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
                <title>Add other phone numbers to the contact</title>
                <desc>Add phone number icon</desc>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Icon-/-add" fill="#2DA1AD" fill-rule="nonzero">
                        <polygon id="Combined-Shape"
                            points="9.81818182 8.18181818 9.81818182 1.33711224e-13 8.18181818 0 8.18181818 8.18181818 0 8.18181818 1.33711224e-13 9.81818182 8.18181818 9.81818182 8.18181818 18 9.81818182 18 9.81818182 9.81818182 18 9.81818182 18 8.18181818">
                        </polygon>
                    </g>
                </g>
            </svg>
        </button>

        <section>
            <button class="cancel-save-button" type="button">Cancel</button>
            <button class="cancel-save-button" type="submit">Save</button>
        </section>

    </article>
</form>