<section class="container">
    <nav>
        <a (click)="showFavourite(false)" [ngClass]="{'active-favourite-pipe': !showOnlyFavourites}">All contacts</a>
        |
        <a (click)="showFavourite(true)" [ngClass]="{'active-favourite-pipe': showOnlyFavourites}">My favourites</a>
    </nav>

    <app-search [(contactSearchValue)]="contactFilterValue"></app-search>

    <main>

        <!-- route to add new contact -->
        <a routerLink="/add-new" class="add-new-contact">
            <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" class="add-new-contact-icon">
                <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
                <title>Add new contact</title>
                <desc>Add new contact plus sign icon</desc>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Icon-/-add" fill="#2DA1AD" fill-rule="nonzero">
                        <polygon id="Combined-Shape"
                            points="9.81818182 8.18181818 9.81818182 1.33711224e-13 8.18181818 0 8.18181818 8.18181818 0 8.18181818 1.33711224e-13 9.81818182 8.18181818 9.81818182 8.18181818 18 9.81818182 18 9.81818182 9.81818182 18 9.81818182 18 8.18181818">
                        </polygon>
                    </g>
                </g>
            </svg>
            <p>Add new</p>
        </a>

        <!-- contacts list -->
        <a *ngFor="let contact of contacts | async | contactsFilter : contactFilterValue : showOnlyFavourites"
            class="card">
            <app-contact-card [contact]="contact"></app-contact-card>
        </a>

    </main>

    <router-outlet></router-outlet>

</section>