<div class="container" *ngIf="contact$ | async as contact">

    <img src={{contact.image}} alt=" Image of {{ contact.firstName }} {{ contact.lastName }}">

    <a routerLink="/home-page" class="back-button">
        <svg width="16px" height="12px" viewBox="0 0 16 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
            <title>Back to the homepage</title>
            <desc>Back to the homepage button icon</desc>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Icon-/-arrow-back" fill="#BBC4C3" fill-rule="nonzero">
                    <path
                        d="M3.26856464,5.3646241 L5.56826113,7.60940232 L4.4546089,8.69645979 L0,4.3482299 L4.4546089,-1.42108547e-14 L5.56826113,1.08705747 L2.76098635,3.82729268 L16,3.82729268 L16,12 L14.4250579,12 L14.4250579,5.3646241 L3.26856464,5.3646241 Z"
                        id="Combined-Shape"></path>
                </g>
            </g>
        </svg>
    </a>

    <h3>{{ contact.firstName }} {{ contact.lastName }}</h3>

    <div class="contact-details-controls">
        <!-- favourite indicator icons -->
        <div *ngIf="contact.favourite; then isFavourite else notFavourite"></div>
        <ng-template #isFavourite>
            <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" class="favourite-icon">
                <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
                <title>Favourite</title>
                <desc>Contact is a favourite</desc>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Icon-/-heart-full" fill="#BBC4C3">
                        <path
                            d="M0.0119997644,4.72699747 C0.004062781,4.64341355 0,4.5617224 0,4.48207 C0,4.43443864 0,4.42310731 0,4.41176471 C0,2.25135671 1.67893219,0.5 3.75,0.5 C5.38347563,0.5 6.77301689,1.58946 7.28728147,3.1098033 L7.5,3.1098033 C8.01426457,1.58946 9.61652437,0.5 11.25,0.5 C13.3210678,0.5 15,2.25135671 15,4.41176471 C15,4.45779108 15,4.46989479 15,4.48207 C15,4.5617224 14.9959372,4.64341355 14.9880002,4.72699747 C14.9384797,5.3747987 14.7376672,5.97812378 14.4224335,6.49851145 C12.7519257,9.94183752 8.00164479,14.5 7.5,14.5 C6.99835521,14.5 2.24807427,9.94183752 0.577566456,6.49851145 C0.262332822,5.97812378 0.061520343,5.3747987 0.0119997644,4.72699747 Z"
                            id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
        </ng-template>
        <ng-template #notFavourite>
            <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" class="favourite-icon">
                <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
                <title>Not a favourite</title>
                <desc>Contact is not set as a favourite</desc>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Icon-/-heart-empty" fill="#BBC4C3" fill-rule="nonzero">
                        <path
                            d="M0,4.70000801 L0,4.63478957 C0,2.35621027 1.78767205,0.5 4.00472759,0.5 C5.42198077,0.5 6.69456585,1.26602522 7.40937139,2.45581385 C8.16262687,1.28276294 9.55577824,0.5 10.9952724,0.5 C13.212328,0.5 15,2.35621027 15,4.63477977 L15,4.70000801 C15,4.78969971 14.9954729,4.88133185 14.9873427,4.96565662 C14.9359937,5.63428582 14.7292993,6.2718401 14.41085,6.79091067 C13.0362362,9.61129458 8.47176682,14.5 7.5,14.5 C6.52823318,14.5 1.96376385,9.61129458 0.611675874,6.83213289 C0.271485682,6.27312994 0.064958649,5.63722082 0.0130144477,4.97027385 C0.00437951629,4.87831973 0,4.78822529 0,4.70000801 Z M1.0278279,4.87961215 L1.02862231,4.88883976 C1.06781775,5.39921487 1.22503901,5.88416784 1.50642816,6.35075601 C2.7226777,8.84621363 7.05753669,13.4889984 7.5,13.4889984 C7.94246331,13.4889984 12.2773223,8.84621363 13.5160977,6.30953379 C13.774961,5.88416784 13.9321823,5.39921487 13.9721721,4.87961215 C13.9781308,4.81714954 13.9810896,4.75726144 13.9810896,4.70000801 L13.9810896,4.63477977 C13.9810896,2.90455842 12.6389882,1.51100161 10.9952724,1.51100161 C9.67597603,1.51100161 8.38742454,2.3974995 7.9827515,3.58834986 L7.86585743,3.93233953 L6.93587345,3.93233953 L6.81897937,3.58834986 C6.39831366,2.35043709 5.2751549,1.51100161 4.00472759,1.51100161 C2.36101183,1.51100161 1.01891035,2.90455842 1.01891035,4.63477977 L1.01891035,4.70000801 C1.01891035,4.75726144 1.02186916,4.81714954 1.0278279,4.87961215 Z"
                            id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
        </ng-template>

        <!-- edit contact button -->
        <svg [routerLink]="['/edit-contact', contact.id]" class="edit-icon" width="16px" height="18px"
            viewBox="0 0 16 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
            <title>Edit {{ contact.firstName }} {{ contact.lastName }}'s contact details</title>
            <desc>Edit contact button</desc>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Icon-/-edit" fill="#BBC4C3" fill-rule="nonzero">
                    <path
                        d="M6.36396103,12.7279221 L1.76776695,13.7885822 L2.82842712,9.19238816 L9.54594155,2.47487373 L10.2530483,1.76776695 C11.2293591,0.791456224 12.8122715,0.791456224 13.7885822,1.76776695 C14.764893,2.74407768 14.764893,4.32699013 13.7885822,5.30330086 L13.0814755,6.01040764 L6.36396103,12.7279221 Z M5.65685425,12.0208153 L12.3743687,5.30330086 L10.2530483,3.18198052 L3.53553391,9.89949494 L4.24264069,10.6066017 L9.89949494,4.94974747 L10.6066017,5.65685425 L4.94974747,11.3137085 L5.65685425,12.0208153 Z M13.0814755,4.59619408 C13.6672619,4.01040764 13.6672619,3.06066017 13.0814755,2.47487373 C12.495689,1.8890873 11.5459415,1.8890873 10.9601551,2.47487373 L13.0814755,4.59619408 Z M4.38105851,12.1592331 L3.39711609,11.1752907 L3.10193336,12.4544158 L4.38105851,12.1592331 Z M0,17 L0,16 L16,16 L16,17 L0,17 Z"
                        id="Combined-Shape"></path>
                </g>
            </g>
        </svg>
        
    </div>

    <section class="contact-details-email">
        <h4>
            <!-- email icon -->
            <svg width="15px" height="10px" viewBox="0 0 15 10" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
                <title>{{ contact.firstName }} {{ contact.lastName }}'s email</title>
                <desc>Contact email button icon</desc>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Icon-/-email" fill="#2DA1AD" fill-rule="nonzero">
                        <path
                            d="M14,1.41583275 L7.5,5.59440418 L1,1.41583275 L1,9 L14,9 L14,1.41583275 Z M12.7975935,1 L2.2024065,1 L7.5,4.40559582 L12.7975935,1 Z M0,0 L15,0 L15,10 L0,10 L0,0 Z"
                            id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
            email
        </h4>
        <div>
            <p>{{ contact.email }}</p>
        </div>
    </section>

    <section class="contact-details-number">
        <h4>
            <!-- phone icon -->
            <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
                <title>{{ contact.firstName }} {{ contact.lastName }}'s phone number entries</title>
                <desc>Contact phone number button icon</desc>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Icon-/-phone" stroke="#2DA1AD">
                        <path
                            d="M14.0537021,12.8976651 L10.9522757,9.7962387 L9.80088847,10.9476259 L9.45502591,10.6942828 C8.38882097,9.91329136 7.33025388,9.00264405 6.32072624,7.99311641 C5.54507394,7.21746411 4.82731624,6.41240594 4.18123995,5.59604971 L3.90498199,5.24698116 L5.14987699,4.00208616 L2.05470677,0.977867672 L1.06024936,1.94787636 C0.0279655217,3.67140726 1.44028411,7.35531496 4.51760395,10.4326348 C7.62279311,13.537824 11.3456068,14.9477176 12.9738845,13.919755 L14.0537021,12.8976651 Z"
                            id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
            numbers
        </h4>
        <div>
            <p *ngFor="let phoneNumber of contact.phoneNumbers"> {{phoneNumber.title}}
                <span>{{phoneNumber.number}}</span></p>
        </div>
    </section>

</div>