<header class="header">
    <svg width="180px" height="20px" viewBox="0 0 180 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-labelledby="title" aria-describedby="desc">
        <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
        <title id="title">Typeqast</title>
        <desc id="desc">Typeqast header logo</desc>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Logo" fill="#FFFFFF" fill-rule="nonzero">
                <path
                    d="M16.6077808,4.22097907 L10.0275844,4.22097907 L10.0275844,18.1161914 L6.55189088,18.1161914 L6.55189088,4.22097907 L0.207906634,4.22097907 L0.207906634,0.772287821 L16.6077808,0.772287821 L16.6077808,4.22097907 L16.6077808,4.22097907 Z M38.5147732,0.772287821 L31.2934294,11.1183616 L31.2934294,18.1161914 L27.8514805,18.1161914 L27.8514805,11.1183616 L20.4951584,0.772287821 L24.881956,0.772287821 L29.5387104,7.60270544 L34.3304432,0.772287821 L38.5147732,0.772287821 L38.5147732,0.772287821 Z M48.5436675,4.22097907 L48.5436675,9.41075716 C50.0621743,8.54021374 52.0193609,8.40628398 54.0440368,8.40628398 L55.5962882,8.40628398 C57.2497735,8.40628398 58.3633452,8.10494203 58.3633452,6.22992543 C58.3633452,4.52232102 57.0135613,4.22097907 55.5962882,4.22097907 L48.5436675,4.22097907 Z M48.5436675,18.1161914 L45.1017186,18.1161914 L45.1017186,0.772287821 L56.203691,0.772287821 C59.5781507,0.772287821 61.9065279,2.91516394 61.9065279,6.26340787 C61.9065279,9.67861667 59.5106615,11.8549752 55.5962882,11.8549752 L54.0440368,11.8549752 C50.8383001,11.8549752 50.0621743,12.0558699 48.5436675,12.8594484 L48.5436675,18.1161914 Z M72.7790371,11.8884577 L72.7790371,14.6340177 L83.7460311,14.6340177 L83.7460311,18.1161914 L69.3370882,18.1161914 L69.3370882,0.772287821 L83.1048838,0.772287821 L83.1048838,4.22097907 L72.7790371,4.22097907 L72.7790371,8.43976642 C74.2975439,7.569223 76.220986,7.43529324 78.2456618,7.43529324 L80.8102512,7.43529324 L80.8102512,10.8839845 L78.2456618,10.8839845 C75.0399251,10.8839845 74.2975439,11.0848791 72.7790371,11.8884577 Z M100.456356,13.9978513 L102.244819,10.9509494 C103.594603,11.0848791 104.539452,11.7545279 105.92298,12.825966 C106.732851,11.8884577 107.23902,10.7165723 107.23902,9.31030984 C107.23902,5.42634688 103.628348,3.75222492 100.321377,3.75222492 C96.9469175,3.75222492 93.639947,5.5267942 93.639947,9.4442396 C93.639947,13.361685 97.0144067,15.1362543 100.355122,15.1362543 C101.097503,15.1362543 101.873629,15.035807 102.61601,14.8014299 C102.582265,14.8014299 102.548521,14.8014299 102.548521,14.7679474 C101.873629,14.3996406 101.198737,14.0982987 100.456356,13.9978513 L100.456356,13.9978513 Z M110.647224,9.2768274 C110.647224,11.4866684 109.938587,13.361685 108.791271,14.8349123 C109.364929,15.1362543 109.972332,15.3706314 110.647224,15.4041138 L108.85876,18.4175333 C107.745189,18.317086 106.901574,17.8483319 105.956725,17.2121655 C104.269495,18.1161914 102.312308,18.6519104 100.287633,18.6519104 C94.9897308,18.6519104 89.9955305,15.2367016 89.9955305,9.37727472 C89.9955305,3.4843654 95.0909646,0.203086353 100.321377,0.203086353 C105.585534,0.203086353 110.647224,3.24998833 110.647224,9.2768274 L110.647224,9.2768274 Z M128.47112,12.3572118 L128.943544,12.3572118 L125.53534,5.92858347 L121.384755,13.8639216 C122.498326,13.2947201 124.860448,12.3572118 128.47112,12.3572118 L128.47112,12.3572118 Z M123.746876,2.5468571 L122.59956,0.370498549 L126.34521,0.370498549 L135.793698,18.1161914 L131.980558,18.1161914 L130.59703,15.5045611 L128.504865,15.5045611 C124.185556,15.5045611 119.697525,17.1786831 119.123867,17.9152967 L119.022633,18.1161914 L115.378216,18.1161914 L123.746876,2.5468571 Z M155.945971,2.37944491 L153.617594,5.05804005 C152.26781,3.95311955 150.445602,3.55133028 148.420926,3.55133028 C146.733696,3.55133028 144.877743,4.4218737 144.877743,5.42634688 C144.877743,6.4643025 145.282678,7.16743373 148.690883,7.16743373 C156.148439,7.16743373 157.295755,9.67861667 157.295755,12.4911416 C157.295755,16.642964 153.448871,18.6519104 148.45467,18.6519104 C145.417657,18.6519104 142.448132,17.2121655 140.52469,14.9688421 L143.02179,12.4576591 C144.067873,13.5625796 145.350167,15.3036665 148.45467,15.3036665 C151.626663,15.3036665 153.853806,14.2991933 153.853806,12.4911416 C153.853806,10.9174669 152.099087,10.5826425 148.45467,10.5826425 C144.27034,10.5826425 141.233327,9.20986252 141.233327,5.42634688 C141.233327,2.27899759 144.574042,0.203086353 148.45467,0.203086353 C150.985515,0.203086353 153.381382,0.638358064 155.945971,2.37944491 L155.945971,2.37944491 Z M178.426622,4.22097907 L171.846425,4.22097907 L171.846425,18.1161914 L168.370732,18.1161914 L168.370732,4.22097907 L162.026747,4.22097907 L162.026747,0.772287821 L178.426622,0.772287821 L178.426622,4.22097907 L178.426622,4.22097907 Z"
                    id="Shape"></path>
            </g>
        </g>
    </svg>
</header>

<router-outlet></router-outlet>