<div class="input-icon-addon">
    <!-- search icon -->
    <svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
        <title>Search contacts</title>
        <desc>Search icon inside the search contact input</desc>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icon-/-search" fill="#BBC4C3" fill-rule="nonzero">
                <path
                    d="M11.7230158,13.3393672 C10.5536193,14.1915968 9.1133106,14.6944444 7.55555556,14.6944444 C3.64353858,14.6944444 0.472222222,11.5231281 0.472222222,7.61111111 C0.472222222,3.69909413 3.64353858,0.527777778 7.55555556,0.527777778 C11.4675725,0.527777778 14.6388889,3.69909413 14.6388889,7.61111111 C14.6388889,9.64715554 13.7798504,11.4825608 12.4044434,12.774657 L16.9730914,17.3052684 L16.3052684,17.9730914 L11.7230158,13.3393672 Z M7.55555556,13.75 C10.9459703,13.75 13.6944444,11.0015258 13.6944444,7.61111111 C13.6944444,4.2206964 10.9459703,1.47222222 7.55555556,1.47222222 C4.16514084,1.47222222 1.41666667,4.2206964 1.41666667,7.61111111 C1.41666667,11.0015258 4.16514084,13.75 7.55555556,13.75 Z"
                    id="Combined-Shape"></path>
            </g>
        </g>
    </svg>

    <input type="text" id="search" name="search" pattern="[a-z]{2,30}" [(ngModel)]="contactSearchValue" (ngModelChange)="onModelChange($event)">
</div>