<section>
    <!-- favourite indicator icons -->
    <div *ngIf="contact.favourite; then isFavourite else notFavourite"></div>
    <ng-template #isFavourite>
        <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" class="favourite-icon">
            <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
            <title>Favourite</title>
            <desc>Contact is a favourite</desc>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Icon-/-heart-full" fill="#BBC4C3">
                    <path
                        d="M0.0119997644,4.72699747 C0.004062781,4.64341355 0,4.5617224 0,4.48207 C0,4.43443864 0,4.42310731 0,4.41176471 C0,2.25135671 1.67893219,0.5 3.75,0.5 C5.38347563,0.5 6.77301689,1.58946 7.28728147,3.1098033 L7.5,3.1098033 C8.01426457,1.58946 9.61652437,0.5 11.25,0.5 C13.3210678,0.5 15,2.25135671 15,4.41176471 C15,4.45779108 15,4.46989479 15,4.48207 C15,4.5617224 14.9959372,4.64341355 14.9880002,4.72699747 C14.9384797,5.3747987 14.7376672,5.97812378 14.4224335,6.49851145 C12.7519257,9.94183752 8.00164479,14.5 7.5,14.5 C6.99835521,14.5 2.24807427,9.94183752 0.577566456,6.49851145 C0.262332822,5.97812378 0.061520343,5.3747987 0.0119997644,4.72699747 Z"
                        id="Combined-Shape"></path>
                </g>
            </g>
        </svg>
    </ng-template>
    <ng-template #notFavourite>
        <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" class="favourite-icon">
            <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
            <title>Not a favourite</title>
            <desc>Contact is not set as a favourite</desc>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Icon-/-heart-empty" fill="#BBC4C3" fill-rule="nonzero">
                    <path
                        d="M0,4.70000801 L0,4.63478957 C0,2.35621027 1.78767205,0.5 4.00472759,0.5 C5.42198077,0.5 6.69456585,1.26602522 7.40937139,2.45581385 C8.16262687,1.28276294 9.55577824,0.5 10.9952724,0.5 C13.212328,0.5 15,2.35621027 15,4.63477977 L15,4.70000801 C15,4.78969971 14.9954729,4.88133185 14.9873427,4.96565662 C14.9359937,5.63428582 14.7292993,6.2718401 14.41085,6.79091067 C13.0362362,9.61129458 8.47176682,14.5 7.5,14.5 C6.52823318,14.5 1.96376385,9.61129458 0.611675874,6.83213289 C0.271485682,6.27312994 0.064958649,5.63722082 0.0130144477,4.97027385 C0.00437951629,4.87831973 0,4.78822529 0,4.70000801 Z M1.0278279,4.87961215 L1.02862231,4.88883976 C1.06781775,5.39921487 1.22503901,5.88416784 1.50642816,6.35075601 C2.7226777,8.84621363 7.05753669,13.4889984 7.5,13.4889984 C7.94246331,13.4889984 12.2773223,8.84621363 13.5160977,6.30953379 C13.774961,5.88416784 13.9321823,5.39921487 13.9721721,4.87961215 C13.9781308,4.81714954 13.9810896,4.75726144 13.9810896,4.70000801 L13.9810896,4.63477977 C13.9810896,2.90455842 12.6389882,1.51100161 10.9952724,1.51100161 C9.67597603,1.51100161 8.38742454,2.3974995 7.9827515,3.58834986 L7.86585743,3.93233953 L6.93587345,3.93233953 L6.81897937,3.58834986 C6.39831366,2.35043709 5.2751549,1.51100161 4.00472759,1.51100161 C2.36101183,1.51100161 1.01891035,2.90455842 1.01891035,4.63477977 L1.01891035,4.70000801 C1.01891035,4.75726144 1.02186916,4.81714954 1.0278279,4.87961215 Z"
                        id="Combined-Shape"></path>
                </g>
            </g>
        </svg>
    </ng-template>

    <!-- edit contact button -->
    <a class="edit-icon" [routerLink]="['/edit-contact', contact.id]">
        <svg width="16px" height="18px" viewBox="0 0 16 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" >
            <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
            <title>Edit contact</title>
            <desc>Edit contact button</desc>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Icon-/-edit" fill="#BBC4C3" fill-rule="nonzero">
                    <path
                        d="M6.36396103,12.7279221 L1.76776695,13.7885822 L2.82842712,9.19238816 L9.54594155,2.47487373 L10.2530483,1.76776695 C11.2293591,0.791456224 12.8122715,0.791456224 13.7885822,1.76776695 C14.764893,2.74407768 14.764893,4.32699013 13.7885822,5.30330086 L13.0814755,6.01040764 L6.36396103,12.7279221 Z M5.65685425,12.0208153 L12.3743687,5.30330086 L10.2530483,3.18198052 L3.53553391,9.89949494 L4.24264069,10.6066017 L9.89949494,4.94974747 L10.6066017,5.65685425 L4.94974747,11.3137085 L5.65685425,12.0208153 Z M13.0814755,4.59619408 C13.6672619,4.01040764 13.6672619,3.06066017 13.0814755,2.47487373 C12.495689,1.8890873 11.5459415,1.8890873 10.9601551,2.47487373 L13.0814755,4.59619408 Z M4.38105851,12.1592331 L3.39711609,11.1752907 L3.10193336,12.4544158 L4.38105851,12.1592331 Z M0,17 L0,16 L16,16 L16,17 L0,17 Z"
                        id="Combined-Shape"></path>
                </g>
            </g>
        </svg>
    </a>

    <!-- delete contact button -->
    <svg (click)="showDialog = !showDialog" width="13px" height="17px" viewBox="0 0 13 17" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="delete-icon">
        <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
        <title>Delete contact</title>
        <desc>Delete contact button</desc>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icon-/-delete" fill="#BBC4C3" fill-rule="nonzero">
                <path
                    d="M2.5,2 L4,2 L4,0 L9.02418308,0 L9.02418308,2 L11.8918919,2 L13,2 L13,3 L11.8478842,3 L11.2317772,17 L1.66011466,17 L1.04400764,3 L0,3 L0,2 L2.5,2 Z M10.8469164,3 L2.04497551,3 L2.61707488,16 L10.274817,16 L10.8469164,3 Z M6,5 L7,5 L7,14.6956522 L6,14.6956522 L6,5 Z M8,5 L9,5 L9,14.6956522 L8,14.6956522 L8,5 Z M4,5 L5,5 L5,14.6956522 L4,14.6956522 L4,5 Z M5,1.91304348 L8.01323353,1.91304348 L8.01323353,1 L5,1 L5,1.91304348 Z"
                    id="Combined-Shape"></path>
            </g>
        </g>
    </svg>

    <a [routerLink]="['/contact', contact.id]">
        <article>
            <img class="card-image" src={{contact.image}}
                alt=" Image of {{ contact.firstName }} {{ contact.lastName }}">
            <p class="card-name">{{ contact.firstName }} {{ contact.lastName }} </p>
        </article>
    </a>
</section>

<!-- confirmation dialog -->
<app-dialog [(visible)]="showDialog">
    <button class="cancel-save-button" (click)="showDialog = !showDialog">Cancel</button>
    <button class="cancel-save-button" (click)="deleteContact(contact)"
        (click)="showDialog = !showDialog">Delete</button>
</app-dialog>