/* You can add global styles to this file, and also import other style files */

/* typography */
@font-face {
    font-family: 'Lato';
    src: url(../src/assets/fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(../src/assets/fonts/Lato-Bold.ttf) format("truetype");
}

/* global styles */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'arial', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    max-height: 3.75rem;
    padding: 1.25rem 0;
    background-image: linear-gradient(182.65deg, #78C9CE 0%, #2496A2 99.98%, #2496A2 100%);
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
    border-bottom: 0.43rem solid rgba(255, 255, 255, 0.3);
    text-align: center;
}

.container {
    width: 87.5%;
    max-width: 78.75rem;
    margin: auto;
    text-align: center;
}

/*********** HOME PAGE ***********/
app-home-page nav {
    padding: 3.1rem 0;
    color: #BBC4C3;
    font-size: 1.125rem;
    font-family: Lato-Bold;
    font-weight: 700;
    line-height: 1.375rem;
    text-align: center;
    border-bottom: 1px solid #2DA1AD;
}

app-home-page nav a:first-child {
    margin-right: 1rem;
    cursor: pointer;
}

app-home-page nav a:nth-child(2) {
    margin-left: 1rem;
    cursor: pointer;
}

.active-favourite-pipe{
    color: #2DA1AD;
}

app-home-page main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*********** CARD ***********/
app-home-page .card,
app-home-page .add-new-contact {
    width: 16.875rem;
    padding: 1.6rem 0 0.3rem 0;
    margin: 0.9rem;
    border: 1px solid rgba(187, 196, 195, 0.4);
    border-radius: 0.25rem;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

app-home-page .card:hover {
    border-color: #2DA1AD;
}

app-home-page .add-new-contact {
    border: 1px dashed rgba(45, 161, 173, 0.4);
    color: rgba(45, 161, 173, 0.4);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
}

app-home-page .add-new-contact:hover {
    border: 1px solid #2DA1AD;
    color: #2DA1AD;
}

app-home-page .add-new-contact-icon {
    margin-top: 1.5rem;
}

app-contact-card .card-name {
    margin-top: 0.5rem;
    color: #BBC4C3;
    font-family: Lato-Bold;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.375rem;
}

app-contact-card .card-image {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
    border: 0.1875rem solid rgba(187, 196, 195, 0.3);
    border-radius: 100%;
}

app-contact-card .favourite-icon {
    position: relative;
    float: left;
    top: -0.75rem;
    left: 1rem;
}

app-contact-card .edit-icon {
    position: relative;
    float: right;
    top: -0.75rem;
    right: 3.5rem;
    cursor: pointer;
}

app-contact-card .delete-icon {
    position: relative;
    float: right;
    top: -0.75rem;
    cursor: pointer;
}

/*********** SEARCH ***********/
app-search input {
    width: 33rem;
    padding: 1.2rem 0rem 1.2rem 3.2rem;
    margin: 3.75rem 0;
    border: 1px solid #EAEAEA;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 2.125rem 0 #E3E3E3;
    font-size: 1.1rem;
    background-color: #FFFFFF;
}

input:focus,
input:active {
    outline: none;
    border-color: #2DA1AD;
}

app-search .input-icon-addon svg {
    position: relative;
    top: 0.25rem;
    left: 2.2rem;
    pointer-events: none;
}

/*********** DETAILS ***********/
app-contact-details .container {
    width: 86.5%;
    max-width: 52.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
}

app-contact-details img {
    width: 11.25rem;
    height: 11.25rem;
    margin-top: 3.75rem;
    border-radius: 100%;
    border: 3px solid rgba(187, 196, 195, 0.3);
    object-fit: cover;

    order: 1;
}

app-contact-details .back-button {
    position: relative;
    top: -1rem;
    left: 2rem;
    margin: 0.5rem;

    align-self: center;
    order: 2;
}

app-contact-details .back-button svg,
app-contact-form .back-button svg {
    height: 0.9375rem;
    width: 1.25rem;
}

app-contact-details h3 {
    padding: 0 0 1.6875rem 3rem;
    border-bottom: 2px solid #78C9CE;
    color: #BBC4C3;
    font-family: Lato;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.125rem;
    text-align: left;

    order: 3;
    flex-grow: 1;
    align-self: center;
}

app-contact-details .contact-details-controls {
    align-self: center;
    order: 4;
}

app-contact-details .contact-details-controls svg {
    position: relative;
    top: -0.7rem;
    right: 5rem;
}

app-contact-details .contact-details-controls  svg:nth-child(2) {
    top: -0.6rem;
    right: 2rem;
    cursor: pointer;
}

app-contact-details .contact-details-email,
app-contact-details .contact-details-number {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
}

app-contact-details .contact-details-email {
    order: 5;
}

app-contact-details .contact-details-number {
    order: 6;
}

app-contact-details .contact-details-email h4,
app-contact-details .contact-details-number h4 {
    margin: 0 0 2.5rem 0;
    padding-left: 16rem;
    flex: 1 0 0;

    color: #2DA1AD;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1875rem;
}

app-contact-details .contact-details-email svg,
app-contact-details .contact-details-number svg {
    margin: 0 0.5rem 0 0;
}

app-contact-details .contact-details-email div,
app-contact-details .contact-details-number div {
    flex: 3 0 0;
}

app-contact-details .contact-details-email p,
app-contact-details .contact-details-number p {
    margin: 0 0 2.5rem 0;
    color: #BBC4C3;
    font-family: Lato;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.05rem;
}

app-contact-details .contact-details-number p {
    text-transform: uppercase;
}

app-contact-details .contact-details-email span,
app-contact-details .contact-details-number span {
    color: #BBC4C3;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-decoration: underline;
}

.cancel-save-button {
    width: 10rem;
    height: 2.625rem;
    margin: 2.125rem 3rem 0 2rem;
    border: none;
    border-radius: 6.25rem;
    color: #FFFFFF;
    background-color: #BBC4C3;
    cursor: pointer;
}

.cancel-save-button:hover {
    background-color: #2DA1AD;
}

app-dialog h4 {
    padding: 0 0 1rem 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #BBC4C3;
    text-align: left;
}

.dialog {
    z-index: 1000;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 15rem;
    border-radius: 0.25rem;
    color: #BBC4C3;
    background-color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

app-contact-form form {
    padding: 3.75rem 0;
}

app-contact-form .back-button {
    float: left;
    margin-left: 6rem;
    margin-top: 3rem;
}

app-contact-form input[type="text"] {
    width: 18.75rem;
    height: 3.75rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    border: 1px solid #BBC4C3;
    border-radius: 0.25rem;
    opacity: 0.4000000059604645;
}

.form-image-upload {
    display: inline-block;
    float: left;
    width: 11.25rem;
    height: 11.25rem;
    border: 3px solid rgba(187, 196, 195, 0.3);
    border-radius: 100%;
    background-color: rgba(45, 161, 173, 0.4);
    cursor: pointer;
}

.form-image-upload svg {
    margin: 5rem;
}

app-contact-form input[type="file"] {
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

app-contact-form label {
    display: block;
    width: 100%;
    border-top: 2px solid #78C9CE;
}

app-contact-form article {
    margin-left: 17rem;
    margin-top: 5rem;
    text-align: left;
}

#phoneNumbers div {
    display: flex;
    flex-wrap: wrap;
}

#phoneNumbers input {
    max-width: 18.75rem;
    flex: 1;
}

#phoneNumbers button {
    flex: 2rem 0 0;
    margin-top: 1rem;
}

app-contact-form article label {
    padding: 1.875rem 0;
    color: #2DA1AD;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1875rem;
}

app-contact-form article svg {
    padding-right: 1rem;
}

.add-number-button,
app-contact-form button {
    width: 2rem;
    height: 2rem;
    border-radius: 6.25rem;
    border: 1px solid#2DA1AD;
    background-color: #fff;
    cursor: pointer;
}

app-contact-form button {
    border-color: #BBC4C3;
    color: #BBC4C3;
    margin-left: 1.5rem;
}

.add-number-button svg {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0;
    padding: 0;

}

app-contact-form .cancel-save-button {
    margin: 2rem 0 0 0;
}

app-contact-form .cancel-save-button:nth-child(2) {
    float: right;
}

/****** Media Queries ******/
@media screen and (max-width: 62rem) {

    app-contact-form .back-button {
        position: absolute;
        left: 3rem;
        top: 6rem;
        margin: 0;
    }

    .form-image-upload {
        display: block;
        float: none;
        margin: auto;
    }

    app-contact-form input[type="text"] {
        width: calc(100% - 4rem);
    }

    #phoneNumbers input {
        max-width: unset;
        flex-basis: 100%;
    }

    #phoneNumbers input:nth-child(2) {
        flex: 1;
    }

    app-contact-form article {
        margin: 0;
    }
}

@media screen and (max-width: 43rem) {
    app-home-page header {
        padding: 0.8rem 0;
    }

    app-home-page header svg {
        height: 17.5px;
        width: 150px;
    }

    app-home-page .container {
        width: 100%;
    }

    app-home-page nav {
        width: 90%;
        padding: 1rem 0;
        margin: auto;
        font-size: 1rem;
    }

    app-home-page .card,
    app-home-page .add-new-contact {
        width: 100%;
        padding: 0.3rem;
        margin: 0.3rem 0.6rem;
    }

    app-home-page .add-new-contact p {
        margin: 0;
        float: left;
        padding: 0.8rem;
    }

    app-home-page .add-new-contact-icon {
        margin-top: 0;
        padding: 1rem 0.5rem 1rem 1rem;
        float: left;
    }

    app-search input {
        position: relative;
        max-width: 75%;
        padding: 0.8rem 0rem 0.8rem 3.2rem;
        margin: 1.4rem 0 1.4rem 0;
        left: -0.5rem;
    }

    app-search .input-icon-addon svg {
        top: 0.2rem;
        left: 1.5rem;
        z-index: 1;
    }

    .card .card-image {
        width: 2.75rem;
        height: 2.75rem;
        float: left;
    }

    .card .card-name {
        float: left;
        margin: 1rem 0 1rem 1.2rem;
        font-family: Lato;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.15rem;
    }

    .card .favourite-icon {
        float: right;
        top: 0.85rem;
        right: 5rem;
        left: unset;
    }

    .card .edit-icon {
        top: 0.85rem;
        right: 2rem;
    }

    .card .delete-icon {
        top: 0.85rem;
        right: -1rem;
    }

    app-contact-details img {
        width: 3.2rem;
        height: 3.2rem;
        order: 3;
    }

    app-contact-details h3 {
        font-size: 1.1rem;
        order: 4;
    }

    app-contact-details .back-button {
        order: 1;
    }

    app-contact-details .contact-details-controls {
        order: 2;
    }

    app-contact-details .contact-details-email {
        display: block;
        width: 100%;
        padding: 0 3rem;
        order: 5;
    }

    app-contact-details .contact-details-number {
        display: block;
        width: 100%;
        padding: 0 3rem;
        order: 6;
    }

    app-contact-details .contact-details-email h4,
    app-contact-details .contact-details-number h4 {
        width: 100%;
        padding: 0;
    }

    app-contact-details .contact-details-email div,
    app-contact-details .contact-details-number div {
        width: 100%;
    }

    app-contact-details .contact-details-email span,
    app-contact-details .contact-details-number span {
        float: right;
    }

    app-dialog button {
        display: block;
        margin: 1rem auto;
    }

    app-dialog p {
        padding: 0 1.15rem;
        margin-bottom: 4rem;
    }

    .dialog {
        height: unset;
        width: 80%;
        padding-bottom: 1rem;
    }
}