<div [@dialog] *ngIf="visible" class="dialog">
    <h4>
        Delete
    </h4>
    <p> Are you sure you want to delete this contact?</p>
    <ng-content></ng-content>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>